extends ../layouts/default.jade

block vars
  title Dr. Fernando Pardal123 - Homepage

block body
  include ../partials/hero-banner.jade
  include ../partials/exams.jade
  include ../partials/team.jade
  include ../partials/partnerships.jade
  include ../partials/contacts.jade
  include ../partials/schedule.jade
  //-include ../partials/susana.jade
