section#contactos.contacts
  .contacts-wrapper
    div
      h2 Morada
      p Rua 25 Abril 554, 2º- S7#[br]4700-912 BRAGA#[br](Braga - São José de São Lázaro e São  João do Souto)
      a(href="https://goo.gl/maps/qEd9DtqXudv" target="_blank").link Ver direções
      
      h2 Contactos
      a(href="tel:+351253618869").link: p: |T +351 253 618 869
      a(href="tel:+351253192901").link: p: |T +351 253 192 901
      p.link.fax F +351 253 618 889#[br]
      a(href="mailto:geral@fernandopardal.com" target="_top").link geral@fernandopardal.com
      
  .map-wrapper
    #map
    .actions
      button.more
      button.less
