section#exames.exams
  .separator
    .text-wrapper
      i.icon-lab
      h2 Exames & Testes
  .right-container
    .text-wrapper
      h2 Qualidade e eficiência
      p Estamos preparados para realizar grande parte dos exames de carácter citológico e histológico, bem como outros serviços e testes relacionados com a anatomia patológica, de modo a poder prestar o melhor cuidado possível.
    h2 Exames & Testes

section.exams-grid-container
  ul.exams-grid.right-container
    li
      span 01
      p Histológico de biópsia
    li
      span 02
      p Macroscópico#[br] e histológico de peças de ressecção cirúrgica
    li
      span 03
      p Imuno Histoquímica
    li
      span 04
      p Histoquímica
    li.collapse
      span 05
      p Citológico Cervico#[br]Vaginal
    li.collapse
      span 06
      p Citológico Esfoliativo
    li.collapse
      span 07
      p Citológico por Método de#[br] Camada
    li.collapse
      span 08
      p Genotipagem do Hpv
    li.collapse
      span 09
      p Tipagem Hpv
    li.collapse
      span 10
      p Teste Aptima Hpv
    li.collapse
      span 11
      p Cobas Nc-gc
    li.collapse.empty
    li.expand-button Ver Todos
