footer
  ul.logos
    li: a(href="http://www.lusaenor.com/PT/quienessomos/aenorinternacional.asp" target="_blank"): i.icon-cert1
    li: a(href="http://www.iqnet-certification.com" target="_blank"): i.icon-cert2

  .right-container
    p
     | &copy; 2016 Clínica Dr. Fernando Pardal
     span  -
     |  todos os direitos reservados

    p Designed and developed by #[a(href="http://www.gen.pt" target="_blank") Gen]
