header 
  .left-container
    a.brand(href="#")
    
  //- Menu Button
  input(type='checkbox' id='menu-toggle')
  label(for='menu-toggle')
    span

  ul.nav
    li: a(href="#exames") Exames
    li: a(href="#equipa") Equipa
    li: a(href="#acordos") Acordos
    li: a(href="#contactos") Contactos
