section.hero-banner
  .trigger
  .left-container
    a(href="/").brand-bottom
    
    .text-container
      div
        span Laboratório de 
        h1 Anatomia #[br] Patológica
        span Dr. Fernando Pardal

  .right-container
