section#acordos.partnerships
  .separator
    .text-wrapper
      i.icon-partnerships
      h2 Acordos
  .right-container
    h2 Acordos
    
  ul.partners-grid
    li: a(href="http://www.arscentro.min-saude.pt" style="background-image: url('images/partners/acordos-01.jpg')" target="_blank")
    
    li: a(href="http://www.ulsm.min-saude.pt" style="background-image: url('images/partners/acordos-02.jpg')" target="_blank")
    
    li: a(href="https://www.allianz.pt" style="background-image: url('images/partners/acordos-03.jpg')" target="_blank")
    
    li: a(href="http://www.snqtb.pt" style="background-image: url('images/partners/acordos-04.jpg')" target="_blank")
    
    li: a(href="https://www.multicare.pt" style="background-image: url('images/partners/acordos-05.jpg')" target="_blank")
    
    li: a(href="http://www.medis.pt" style="background-image: url('images/partners/acordos-06.jpg')" target="_blank")
    
    li: a(href="http://www.future-healthcare.pt" style="background-image: url('images/partners/acordos-07.jpg')" target="_blank")
    
    li: a(href="https://www.sspsp.pt" style="background-image: url('images/partners/acordos-08.jpg')" target="_blank")
    
    li: a(href="https://www.cgd.pt" style="background-image: url('images/partners/acordos-09.jpg')" target="_blank")
    
    li: a(href="https://www.telecom.pt" style="background-image: url('images/partners/acordos-10.jpg')" target="_blank")
    
    li: a(href="http://advancecare.pt" style="background-image: url('images/partners/acordos-11.jpg')" target="_blank")
    
    li: a(href="http://www.sibanca.pt/" style="background-image: url('images/partners/acordos-13.jpg')" target="_blank")
    
    li: a(href="http://www.sbsi.pt/SAMS/Servicos/Pages/default.aspx" style="background-image: url('images/partners/acordos-14.jpg')" target="_blank")
  
