section#equipa.team
  .separator
    .text-wrapper
      i.icon-team
      h2 Equipa
  .right-container
    .text-wrapper
      h2 Susana
      p Com uma equipa qualificada, o laboratório tem a capacidade de satisfazer as necessidades dos clientes e prestar especial atenção a cada um deles, oferecendo um serviço cuidado e personalizado.
      button.warning

ul.team-grid
  li
    div
      span um
      h1 1
      h2 rwrwr
  li
    div
      span dois
      h1 2
      h2 wrwr
  li
    div
      span tres
      h1 3
      h2 teste

.image-wrapper



