section#equipa.team
  .separator
    .text-wrapper
      i.icon-team
      h2 Equipa
  .right-container
    .text-wrapper
      h2 Profissionais de confiança
      p Com uma equipa qualificada, o laboratório tem a capacidade de satisfazer as necessidades dos clientes e prestar especial atenção a cada um deles, oferecendo um serviço cuidado e personalizado.
    h2 Equipa
    
ul.team-grid
  li
    div
      span Dr.
      h1 FP
      h2 Fernando Pardal
  li
    div
      span Dra.
      h1 MT
      h2 Margarida Teixeira
  li
    div
      span Dra.
      h1 JP
      h2 Joana Pardal

.image-wrapper 
